<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"  content="width=device-width,user-scalable=no">
    <title>蚂蜂网 普通登录</title>
    <link rel="stylesheet" type="text/css" href="css/global.css" />
    <link rel="stylesheet" type="text/css" href="css/denglu.css" />
</head>
<body>
<div class="wrap">
    <!-- header -->
    <header class="header">
        <div class="logo">
             <h1><a href="" title="马蜂窝">欢迎来到马蜂窝</a></h1>
        </div>
    </header>
    <!-- main -->
    <div class="anniu">
        <ul>
            <li class="current"><a href="denglu.html">普通登录</a></li>
            <li class="current-er"><a href="">短信验证码登录</a></li>
        </ul>
    </div>
    <div style="clear:both;"></div>
    <div class="main">
        <section class="section-yi">
          <div class="zad">
              <input type="text" name="zhanghao" value="您的邮箱/手机号"/>
              <input type="text" name="mima" value="您的密码"/>
              <span><a href="">忘记密码</a></span>
              <input type="button" name="denglu" value="登录"/>
              <input type="button" name="zhuce" value="快速注册"/>
          </div>
          <div class="dsf">
             <div class="shuoming">
                 <i></i>
                 <span>第三方账号登录</span>
             </div>
             <div class="dlan">
                 <ul>
                     <li><a href="">新浪微博</a></li>
                     <li><a href="">QQ登录</a></li>
                     <li><a href="">人人登录</a></li>
                 </ul>
             </div>
          </div>
        </section>
        <section class="section-er">
          <div class="zad">
              <input type="text" name="zhanghao" value="您的邮箱/手机号"/>
              <div class="yzm"><input type="text" name="yanzheng" value="验证码"/><span></span></div>
              <div class="dxyzm"><input type="text" name="duanxin" value="短信验证码"/><span>免费获取验证码</span></div>
              <span><a href="">忘记密码</a></span>
              <input type="button" name="denglu" value="登录"/>
              <input type="button" name="zhuce" value="快速注册"/>
          </div>
          <div class="dsf">
             <div class="shuoming">
                 <i></i>
                 <span>第三方账号登录</span>
             </div>
             <div class="dlan">
                 <ul>
                     <li><a href="">新浪微博</a></li>
                     <li><a href="">QQ登录</a></li>
                     <li><a href="">人人登录</a></li>
                 </ul>
             </div>
          </div>
        </section>
    </div>
</div>
</body>
</html>
