/* 
* @Author: anchen
* @Date:   2016-07-24 14:20:09
* @Last Modified by:   anchen
* @Last Modified time: 2016-08-05 00:23:08
*/
.header{
    height: 50px;
    position:relative;
    overflow:hidden;
    }

.logo{
    width: 80px;
    height: 20px;
    background:url(../images/logo.png) no-repeat;
    background-size:76px auto;
    margin:15px auto;
    }

.logo a{
    display:block;
    height:76px;
    text-indent:-999em;
    }

 a.back{
    display:block;
    position:relative;
    position:absolute;
    top:16px;
    left:8px;
    }

.back em,.back span{
    width:0;
    height:0;
    border-width:9px;
    border-color:transparent #ff9d00 transparent transparent ;
    border-style:dashed solid dashed dashed ;
    display:block;
    position:absolute;
    top:0;
    left:0;
    }

.back span{
    border-right-color:#fff;
    left:4px;
    }

.work{
    display:block;
    width: 40px;
    height: 30px;
    background: #41c6ad;
    border-top-left-radius: 50%;
    border-bottom-left-radius:  50%;
    position:absolute;
    right:0px;
    top:10px;
    line-height: 26px;
    }

.work em{
    font-size: 12px;
    color:#fff;
    margin-left:10px;
    }

nav{
    height:42px;
    background:#ff9d00;
    padding-top:11px;
    box-sizing: border-box;
    }

nav ul li{
    float:left;
    width:25%;
    line-height: 16px;
    }

nav ul li a{
    border-right:#fff solid 1px;
    display:inline-block;
    width:100%;
    font-size: 16px;
    text-align:center;
    box-sizing: border-box;
    color:#fff;
    }

nav ul li:nth-of-type(4) a{
    border-right:0;
    }



.hotel-search{
    max-width: 478px;
    margin:0 auto;
    }

.hotel-search .mudidi{
    height:114px;
    padding-right: 62px;
    position:relative;
 }

.hotel-search .mudidi div{
    font-size: 15px;
    color:#ff9d00;
    line-height:84px;
    
}

.hotel-search .mudidi input{
    border-bottom: #e3e3e3 solid 2px;
    width:100%;
}

.gogo{
    width:11px;
    height:11px;
    border-top:1px solid #ff9e00;
    border-right:1px solid #ff9e00;
    display:block;transform:rotate(45deg);
    position:absolute;
    top:72px;
    right:66px;
}

.miaozhun{
    display:block;
    width: 38px;
    height: 38px;
    background:url(../images/location.png) no-repeat;
    background-size:38px auto;
    position:absolute;
    top:56px;
    right:-8px;
}

.time{
    height: 126px;
    padding-top:32px;
    box-sizing: border-box;
    position:relative;
}



.choose,.chooce{
    padding-bottom: 26px;
    border-bottom:#e3e3e3 solid 1px; 
    float:left;
}

.choose>span:nth-of-type(1),.chooce>span:nth-of-type(1){
    display:block;
    font-size: 16px;
    color:#ff9e00;

}

.zhousi{
    font-size:16px;
    color:#b8beb9;
    margin-left:5px;
}


.gogogo{
    width:11px;
    height:11px;
    border-top:2px solid #c5c8c4;
    border-right:2px solid #c5c8c4;
    display:inline-block;
    transform:rotate(45deg);
}

.yiwan{
    font-size: 16px;
    color:#b8beb9;
    position:absolute;
    left:50%;
    margin-left:-16px;
    top:62px;
}

.chaxun{
    height:50px;
    margin:50px auto;
    border-radius: 3px;
    background: #ff9e00;
    width:70%;
    text-align: center;
    font-size: 18px;
    color:#fff;
    line-height: 50px;
}





    






