/*wrap*/
.wrap{
 min-width:320px; 
 max-width:540px; 
 margin:0 auto;}

/*header*/
.header{
 width:100%; 
 height:50px; 
 border-bottom:1px solid #e5e5e5; 
 position:relative; 
 overflow:hidden;}

.header a i{
 width:10px; 
 height:10px; 
 display:block; 
 border:2px solid #f29406; 
 border-right:0; 
 border-bottom:0; 
 transform:rotate(-45deg); 
 position:absolute; 
 top:18px; 
 left:16px;}

.logo{
 width:81px; 
 height:21px; 
 background:url(../images/logo.png) no-repeat; 
 background-size:81px auto; 
 margin:15px auto;}

.header a:nth-of-type(2){
 font-size:12px; 
 color:#ffa800; 
 line-height:18px; 
 position:absolute; 
 top:15px; 
 right:16px;}

/*nav*/
.nav{
 width:100%; 
 background-color:#ff9d00;}

.nav ul{
 width:100%; 
 height:16px; 
 padding:13px 0;}

.nav ul li{
 float:left; 
 width:25%; 
 height:16px; 
 border-left:1px solid #fff; 
 box-sizing:border-box;
 line-height:16px;
 text-align:center;  
 display:block;}

.nav ul li:nth-of-type(1){
 border-left:0;}

.nav ul li a{
 font-size:12px; 
 color:#fff; 
 display:block;}

.focus{ 
 width:auto; 
 height:auto;  
 margin:0 auto; 
 position:relative; 
 overflow:hidden;}

.focus .hd{
 width:100%; 
 height:5px; 
 position:absolute; 
 z-index:1; 
 bottom:0; 
 text-align:center;}

.focus .hd ul{ 
 overflow:hidden; 
 display:-moz-box; 
 display:-webkit-box; 
 display:box; 
 height:5px; 
 background-color:rgba(223,223,223,1);}

.focus .hd ul li{ 
 -moz-box-flex:1; 
 -webkit-box-flex:1; box-flex:1;}

.focus .hd ul .on{ 
 background:#ff9d00;}

.focus .bd{ 
 position:relative; 
 z-index:0;}

.focus .bd li img{
 width:100%;  
 height:auto; 
 display:block;}

.focus .bd li a{
 -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}

.wode{
 width:100%; 
 height:60px; 
 border-bottom:1px solid #f2f2f2; 
 padding:0 20px; 
 box-sizing:border-box;}

.wode span:nth-of-type(1){
 float:left; 
 line-height:60px; 
 font-size:14px; 
 color:#333333; 
 display:block;}

.wode span:nth-of-type(1) em{
 font-style:normal; 
 color:#ff9d00;}

.wode span:nth-of-type(2){
 float:right; 
 width:90px; 
 height:40px; 
 background:#ff9d00;
 font-size:14px; 
 color:#333333;  
 line-height:40px; 
 text-align:center; 
 display:block; 
 margin-top:10px;}

.nav-ling{
 width:100%;}

.nav-ling li{
 width:25%; 
 height:72px; 
 float:left;} 

.nav-ling li a{
 width:100%; 
 height:100%; 
 display:block; 
 color:#333333; 
 font-size:12px; 
 text-align:center;}

.nav-ling li span{
 width:28px; 
 height:28px; 
 display:block; 
 background:url(../images/exchange.png) no-repeat -1px -1px; 
 background-size:150px auto; 
 margin:0 auto;  
 margin-bottom:5px; 
 margin-top:16px;}

.nav-ling li:nth-of-type(2) span{
 width:30px; 
 height:30px;
 background-position:0 -30px;   
 margin-bottom:4px; 
 margin-top:15px;}

.nav-ling li:nth-of-type(3) span{
 width:30px; 
 height:24px;
 background-position:0 -63px;   
 margin-bottom:7px; 
 margin-top:18px;}

.nav-ling li:nth-of-type(4) span{
 width:30px;
 height:29px; 
 background-position:0 -90px;  
 margin-bottom:4px; 
 margin-top:15px;}

.nav-ling li:nth-of-type(5) span{
 width:26px; 
 height:31px; 
 background-position:-2px -120px;  
 margin-bottom:4px; 
 margin-top:15px;}

.nav-ling li:nth-of-type(6) span{
 width:26px; 
 height:29px; 
 background-position:-2px -150px;  
 margin-bottom:4px; 
 margin-top:15px;}

.nav-ling li:nth-of-type(7) span{
 width:30px; 
 height:30px;
 background-position:0 -180px;   
 margin-bottom:4px; 
 margin-top:15px;} 

.nav-ling li:nth-of-type(8) span{
 width:31px; 
 height:20px; 
 background-position:0 -215px;  
 margin-bottom:9px; 
 margin-top:20px;}

.nav-ling li a:hover{
 color:#ffa800;}

.nav-ling li a:hover span{
 background-position:-31px -1px;}

.nav-ling li:nth-of-type(2) a:hover span{
    background-position:-30px -30px;}

.nav-ling li:nth-of-type(3) a:hover span{
 background-position:-30px -63px;}

.nav-ling li:nth-of-type(4) a:hover span{
 background-position:-30px -90px;}

.nav-ling li:nth-of-type(5) a:hover span{
 background-position:-32px -120px;}

.nav-ling li:nth-of-type(6) a:hover span{
 background-position:-32px -150px;}

.nav-ling li:nth-of-type(7) a:hover span{
 background-position:-30px -180px;}

.nav-ling li:nth-of-type(8) a:hover span{
 background-position:-30px -215px;}

.main{
 width:100%; 
 margin-top:6px;}

.section-yi{
 width:100%;}

.section-yi h3{
 width:100%; 
 height:61px; 
 padding-left:15px; 
 box-sizing:border-box;
 line-height:61px; 
 font-size:16px; 
 color:#696969;}

.section-yi ul{
 width:100%;}

.section-yi ul li{
 float:left; 
 width:50%; 
 border:1px solid #e6e5e5;  
 box-sizing:border-box; 
 margin-top:-1px; 
 margin-left:-1px;}

.section-yi ul li:nth-of-type(odd){
 border-left:0;}

.section-yi ul li:nth-of-type(even){
 border-right:0; 
 padding-right:1px;}

.section-yi ul li figure{
 width:100%; 
 height:6.64rem;
 border-bottom:1px solid #f2f2f2; 
 text-align:center;}

.section-yi ul li figure img{
 height:100%; 
 width:auto;}

.xia{
 width:100%; 
 height:44px; 
 padding-left:10px; 
 box-sizing:border-box;}

.zuo{
 float:left;
 font-size:10px; 
 color:#696969; 
 line-height:22px;}

.zuo span{
 display:block;}

.zuo em{
 color:#ffa800;}

.you{
 float:right; 
 width:50px; 
 height:30px; 
  background:#f39c11; 
 border-radius:27px 0 0 27px; 
 font-size:12px; 
 color:#696969; 
 line-height:30px; 
 text-align:center; 
 margin-top:9px;}

.section-er{
 width:100%; 
 padding:9px 15px 15px 15px; 
 box-sizing:border-box;}

.zhuanpan{ 
 height:30px; 
 background:#ffa800; 
 border-radius:5px; 
 line-height:30px; 
 text-align:center; 
 font-size:12px;
 color:#fff;  
 box-sizing:border-box; }

.section-san{
 width:100%; 
 padding:0 15px; 
 box-sizing:border-box;}

.section-san ul{
 width:100%;}

.section-san ul li{
 float:left; 
 width:49%; 
 border:1px solid #e6e5e5;  
 box-sizing:border-box; 
 margin-top:15px;}

.section-san ul li:nth-of-type(odd){
 float:left;}

.section-san ul li:nth-of-type(even){
 float:right;}

.section-san ul li figure{
 width:100%;
 height:6.64rem;
 border-bottom:1px solid #f2f2f2; 
 text-align:center;}

.section-san ul li figure img{
 height:100%; 
 width:auto;}

.xia{
 width:100%; 
 height:44px; 
 padding-left:10px; 
 box-sizing:border-box;}

.zuo{
  float:left;
 font-size:10px; 
 color:#696969; 
 line-height:22px;}

.zuo span{
 display:block;}

.zuo em{
 color:#ffa800;}

.you{
 float:right; 
 width:50px; 
 height:30px; 
 background:#f39c11; 
 border-radius:27px 0 0 27px;
 font-size:12px; 
 color:#696969; 
 line-height:30px; 
 text-align:center; 
 margin-top:9px;}

.ct{
  width:104px; 
  height:33px; 
  border:1px solid #e5e5e5; 
  border-radius:5px; 
  font-size:12px; 
  color:#f39c11;
  line-height:33px; 
  text-align:center;  
  margin:0 auto; 
  margin-top:0.68rem;}






